@font-face {
    font-family: "Roboto-Regular";
    src: url("Roboto-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto-Regular", "Times New Roman", "Sans Serif";
}

/* Header Section */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding-top: 15px;
    padding-bottom: 65px;
    gap: 825px;
}

.header-container {
    display: flex;
    width: 1250px;
    flex: 0 1 auto;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-weight: 1000;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* Intro-tab Section */
.intro-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding-bottom: 100px;
}

.intro-tab-container {
    display: flex;
    width: 760px;
    gap: 50px;
    flex: 0 1 auto;
}

.intro-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    gap: 16px;
}

.intro-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.intro-text {
    font-size: 18px;
    color: #f9faf8;
}

.intro-tab-btn {
    text-align: center;
    color: #f9faf8;
    background-color: royalblue;
    border: 1px royalblue;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 18px;
}

.intro-img {
    flex: 0 1 auto;
    width: 600px;
    height: 257.95px;
}

/* Info-tab Section */
.info-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 30px;
    padding-bottom: 100px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.sub-tab-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info-sub-tab {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-img {
    width: 200px;
    height: auto;
    padding: 0;
    margin: 0;
    border: 3px royalblue solid;
    border-radius: 8px;
}

.sub-tab-text {
    width: 200px;
    font-size: 18px;
    text-align: center;
}

/* Quote-tab Section */
.quote-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 100px;
    background-color: #e5e7eb;
}

.quote {
    font-size: 48px;
    font-style: italic;
    color: #1f2937;
    width: 900px;
}

.source {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    color: #1f2937;
    width: 900px;
}

/* Ad-tab Section */
.ad-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-container {
    display: flex;
    width: 1000px;
    flex: 0 1 auto;
    justify-content: space-around;
    align-items: center;
    background-color: royalblue;
    border: 1px royalblue solid;
    border-radius: 8px;
    margin: 50px;
    padding: 50px 0px;
    gap: 300px;
}

.ad-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ad-header {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.ad-text {
    font-size: 20px;
    color: #f9faf8;
}

.ad-btn {
    font-size: 20px;
    color: #f9faf8;
    background: royalblue;
    border: 3px #f9faf8 solid;
    border-radius: 8px;
    padding: 8px;
}

/* Footer Section */
.footer {
    text-align: center;
    color: #f9faf8;
    font-size: 20px;
    background-color: #1f2937;
    padding: 40px;
    margin-top: 20px;
}
