@font-face {
    font-family: "Roboto-light";
    src: url("Roboto-light.ttf");
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto-light", "Times New Roman", "Sans Serif";
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* Intro-tab Section */
.intro-tab {}

.intro-text-container {}

.intro-h1 {}

.intro-text {}

.intro-tab-btn {}

/* Info-tab Section */
.info-tab {}

.info-h1 {}

.sub-tab-container {}

.info-sub-tab {}

.sub-tab-text {}

/* Quote-tab Section */
.quote-tab {}

.quote {}

.source {}

/* Ad-tab Section */
.ad-tab {}

.ad-tab-container {}

.ad-h3 {}

.ad-text {}

.ad-btn {}

/* Footer Section */
.footer {}
