@font-face {
    font-family: "Roboto-light";
    src: url("Roboto-light.ttf");
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto-light", "Times New Roman", "Sans Serif";
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* Intro-tab Section */
.intro-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    gap: 50px;
}

.intro-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    gap: 16px;
}

.intro-h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    color: #f9faf8;
}

.intro-text {
    font-size: 18px;
    color: #f9faf8;
}

.intro-tab-btn {
    text-align: center;
    color: #f9faf8;
    background-color: royalblue;
    border: 1px royalblue;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 18px;
}

.intro-img {
    flex: 0 1 auto;
    width: 600px;
    height: auto;
}

/* Info-tab Section */
.info-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px;
}

.info-h1 {
    padding: 0;
    margin: 0;
    font-size: 36px;
    color: #1f2937;
}

.sub-tab-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info-sub-tab {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-img {
    width: 200px;
    height: auto;
    padding: 0;
    margin: 0;
    border: 3px royalblue solid;
    border-radius: 8px;
}

.sub-tab-text {
    width: 200px;
    text-align: center;
}

/* Quote-tab Section */
.quote-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 100px;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 900px;
}

.source {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    color: #1f2937;
    width: 900px;
}

/* Ad-tab Section */
.ad-tab {}

.ad-tab-container {}

.ad-h3 {}

.ad-text {}

.ad-btn {}

/* Footer Section */
.footer {}
